.contact {
  h2 {
    text-transform: capitalize;
    text-align: center;
    font: bold 32px $heading;
    margin-bottom: 30px;
  }
  p {
    max-height: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  hr {
    width: 250px;
    height: 3px;
    background: $blue;
    margin-bottom: 50px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    #email {
      flex: 1;
      padding: 0.5em;
      margin-right: 30px;
      font-size: 18px;
      color: $blue;
    }
    .btn {
      color: $white;
      border: none;
      border-radius: 4px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      background-color: $blue;
      padding: 1em 3em;
    }
  }
}
