.showcase {
  .grid {
    li {
      width: 400px;
      height: 350px;
      padding: 1em;
      &:nth-child(1) {
        background: url(./assets/mountain1.jpg) no-repeat center/cover
          content-box;
        flex-basis: 30%;
      }
      &:nth-child(2) {
        background: url(./assets/mountain2.jpg) no-repeat center/cover
          content-box;
        flex-basis: 70%;
      }
      &:nth-child(3) {
        background: url(./assets/mountain3.jpg) no-repeat center/cover
          content-box;
        flex-basis: 70%;
      }
      &:nth-child(4) {
        background: url(./assets/mountain4.jpg) no-repeat center/cover
          content-box;
        flex-basis: 30%;
      }
    }
  }
}
