@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap");
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  100% {
    opacity: 1;
    margin-top: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}
a:hover {
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

section:not(.hero):nth-child(even) {
  background: #f5f5f5;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s fadeIn 0.5s forwards;
  opacity: 0;
  color: #fff;
}
header h1 {
  font-family: "Open Sans", sans-serif;
}
header nav ul {
  display: flex;
  margin-right: -15px;
}
header nav ul li {
  margin: 0 15px;
}

.hero {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 100%;
  min-height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(./assets/mountain.jpg) no-repeat;
  background-size: cover;
}
.hero .hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  margin-top: 150px;
  animation: 1s 1s slideUp forwards;
}
.hero .hero-content h2 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 0.7em;
}
.hero .hero-content p {
  font: 28px "Quicksand", sans-serif;
  margin-bottom: 1em;
}
.hero .hero-content .btn {
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: #3f51b5;
  padding: 1em 3em;
}

.showcase h2 {
  text-transform: capitalize;
  text-align: center;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.showcase p {
  max-height: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}
.showcase hr {
  width: 250px;
  height: 3px;
  background: #3f51b5;
  margin-bottom: 50px;
}
.showcase .grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.showcase .grid li {
  width: 400px;
  height: 350px;
  padding: 1em;
}
.showcase .grid li:nth-child(1) {
  background: url(./assets/mountain1.jpg) no-repeat center/cover content-box;
  flex-basis: 30%;
}
.showcase .grid li:nth-child(2) {
  background: url(./assets/mountain2.jpg) no-repeat center/cover content-box;
  flex-basis: 70%;
}
.showcase .grid li:nth-child(3) {
  background: url(./assets/mountain3.jpg) no-repeat center/cover content-box;
  flex-basis: 70%;
}
.showcase .grid li:nth-child(4) {
  background: url(./assets/mountain4.jpg) no-repeat center/cover content-box;
  flex-basis: 30%;
}

.packages h2 {
  text-transform: capitalize;
  text-align: center;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.packages p {
  max-height: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}
.packages hr {
  width: 250px;
  height: 3px;
  background: #3f51b5;
  margin-bottom: 50px;
}
.packages .grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.packages .grid li {
  padding: 40px;
  flex-basis: 50%;
  text-align: center;
}
.packages .grid li i {
  font-size: 50px;
  padding: 20px;
  color: #8c9eff;
}
.packages .grid li h3 {
  font: bold 30px "Open Sans", sans-serif;
  margin-bottom: 1em;
}

.testimonials h2 {
  text-transform: capitalize;
  text-align: center;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.testimonials p {
  max-height: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}
.testimonials p.quote {
  font: 300 22px "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 40px 0 25px;
}
.testimonials p.quote::before {
  font: 900 25px "Font Awesome 5 Free";
  content: "";
  padding: 0.5em;
  color: #8c9eff;
}
.testimonials p.quote::after {
  font: 900 25px "Font Awesome 5 Free";
  content: "";
  padding: 0.5em;
  color: #8c9eff;
}
.testimonials p.author {
  font-weight: bold;
}
.testimonials hr {
  width: 250px;
  height: 3px;
  background: #3f51b5;
  margin-bottom: 50px;
}

.contact h2 {
  text-transform: capitalize;
  text-align: center;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.contact p {
  max-height: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}
.contact hr {
  width: 250px;
  height: 3px;
  background: #3f51b5;
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
